<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <h1>Product Details</h1>
  <h4>
    <a href="/products/<%= product.id %>">ชื่อสินค้า : <%= product.productTitle %></a>
  </h4>
  <h4>
    คำอธิบาย : <%= product.productDescription %>
  </h4>
  <h4>
    ราคา : <%= product.productPrice %> บาท
  </h4>
</body>

</html>